.y_scrolling {
    background-color: rgb(42, 41, 41) !important;
    width: 100%;
}



.font_mute_cart {
    color: rgb(82, 80, 80);
}

/* --- Mobile View Styles (screens up to 575.98px) --- */
@media (max-width: 575.98px) {
    .y_scrolling {
        height: auto;
        max-height: 400px; 
        overflow-y: auto; 
    }

    .y_scrolling h5 {
        font-size: 1.2rem !important; 
    }

    .y_scrolling p.card-text {
        font-size: 1rem !important; 
    }
    .input-group {
        margin-left: auto;
        margin-right: auto;
    }

    .y_scrolling {
        scrollbar-width: auto;
        scrollbar-color: auto; 
    }
    .y_scrolling::-webkit-scrollbar {
        width: auto;
        height: auto; 
    }
    .y_scrolling::-webkit-scrollbar-track {
        background: initial; 
    }
    .y_scrolling::-webkit-scrollbar-thumb {
        background-color: initial; 
        border-radius: initial;
        border: initial;
        background-clip: initial;
    }
}


/* --- Tablet and Laptop View Styles (screens 576px and wider) --- */
@media (min-width: 576px) {
    .y_scrolling {
        height: 500px;
        overflow-y: scroll; 
    }

  
    .y_scrolling::-webkit-scrollbar {
        width: 12px; 
    }

    .y_scrolling::-webkit-scrollbar-track {
        background: rgb(60, 60, 60); 
        border-radius: 10px;
    }

    .y_scrolling::-webkit-scrollbar-thumb {
        background-color: #ff4500; 
        border-radius: 10px;
        border: 3px solid rgb(60, 60, 60);
    }

    .y_scrolling {
        scrollbar-width: thin; 
        scrollbar-color: #ff4500 rgb(60, 60, 60); 
    }
}
.gjhjgf{
    width: 200px !important;
    height: 250px !important;
    margin-bottom: -70px;
    color:#e60a0a !important;

}
.textttt{
     display: flex;
    justify-content: center;

}
.fonbol{
    font-size: 15px;
    background-color: #e60a0a !important;
      
}
.qpqp{
    text-decoration: none !important;
}

.checkOutBtn{
    background-color: #ff4500;
    color: white;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    height: 45px;
    transition: all 0.3s ease;
}

.checkOutBtn:hover{
    font-size: 1.3rem;
}

.continueBtn{
  background-color: #ef4444;   
  border: 1px solid transparent;
  border-radius: 0.5rem;   
  display: flex;               
  align-items: center;          
  gap: 1.25rem;            
  color: white;               
  font-weight: 700;            
  padding-top: 1rem;            
  padding-bottom: 1rem;
  padding-left: 2rem;           
  padding-right: 2rem;
  font-size: 1.5rem; 
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.continueBtn:hover{
    transform: scale(1.1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}